@import url('General.css');

.category-title{
    padding: 10px 0;
    text-align: center;
    margin-bottom: 40px;
    font-size: 2em;
    font-weight: 100;
    color: var(--beige-color);
}
.categories-navbar{
    margin: 100px 70px 0 70px;
}
.nav-content{   
    width: 95%;
    gap: 90px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.cat-lits{
    flex-direction: column;
    padding: 0 10px 0 0;
}
.header-categories, .view-type--content h3{
    gap: 10px;
    border-left: 3px solid var(--beige-color);
    padding: 0 10px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.1rem;    
}
.list-categories {
    height: 40px;
    padding: 0;
    justify-content: start;
    gap: 20px;
}
.category-li{
    padding: 8px 0;
    font-size: 0.9rem;
    cursor: pointer;
    color: var(--secundary-color);
    font-weight: 100;
}
.category-li:hover{
    color: var(--secundary-color);
}
.category--active{
    color: var(--secundary-color);
    font-weight: bolder;
    border-bottom: 2px solid var(--primary-color);
}

/* View type */
.view-type--content{
    flex-direction: column;
    width: 20%;
}
.view-type{
    gap: 10px;
}
.view-type .icon-view{
    justify-content: center;
    padding: 6px;
    border: 1.5px solid var(--border-color);
    border-radius: var(--border-radius);
    cursor: pointer;
}
.view-type .icon-view:hover{
    background-color: var( --background-color);
}

.view-type .icon-view.icon-view--active{
    border: 2px solid var(--border-color2);
}
.sort-by{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 150px;
}
.sort-by select{
    width: 100%;
    border: 1px solid var(--border-color);
    height: 50px;
}

/* Display: flex; */
.cat-lits, .header-categories, .view-type--content h3, .list-categories, .view-type--content, .view-type, .view-type .icon-view {
    display: flex;  
}

/* align-items: center;*/
.view-type .icon-view, .list-categories{
    align-items: center;
}

@media only screen and (max-width: 748px){
    .nav-content {
        flex-direction: column;
    } 
    .categories-navbar {
        margin: 100px 30px 0 30px;
    }
    .nav-content, .cat-lits, .view-type--content{
        width: 100%;
    }
    .category-li {
        padding: 8px 0;
        font-size: 0.9rem; 
    }
};