@import url('../src/style sheet/General.css');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'Mona Sans';
  src: url('./fonts/Mona-Sans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style:normal;
  scroll-behavior: smooth;
}

body {
  font-family: 'Mona Sans', sans-serif;
  color: var(--secundary-color);
  padding: 0;
  margin: 0 auto;
}

